<h2><%= link_to "Games", games_path %></h2>
<div class="games">
  <p class="content"><%= "Name: " + @game.name %></p>
  <p class="content"><%= "Minimum Players: " + @game.min_players.to_s if @game.min_players %></p>
  <p class="content"><%= "Maximum Players: " + @game.max_players.to_s if @game.max_players %></p>
  <p class="content"><%= 'Playing Time: ' + @game.length.to_s + " minutes" if @game.length %></p>
  <p class="content"><%= link_to @game.url1_desc, @game.url1 if @game.url1_desc && @game.url1 %></p>
  <p class="content"><%= link_to @game.url2_desc, @game.url2 if @game.url2_desc && @game.url1 %></p>
</div>
<p><%= link_to "Edit Game", edit_game_path(@game) %></p>
<p><%= link_to 'Delete Game', game_path(@game),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></p>
